* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #f5f0e6; /* beige, como respaldo */
}