* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #ffffff; /* beige, como respaldo */
}

html{
  overflow-y: auto;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}